<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
        $(document).ready(
                console.log($.getJSON('/annotation'))


        );
    </script>
</head>

<body>
    <h2 id="opdracht">Geef aan hoe goed de labels overeenkomen met de inhoud van de Tweet.

    </h2>

  Hi {{ current_user.id }}!

    <script>
        function fnul(val){
            console.log("button was pressed");
            $.ajax({
              type: "POST",
              url: "/label",
              data: JSON.stringify({"label": "test", "agreement": 0}),
              success: function(){console.log("succes");},
              dataType: "json",
              contentType : "application/json"
            });

        }
    </script>
</body>


<div class="pair">
    <input type="checkbox" name="foo" value="bar" id=nul" onclick="fnul(0)"/><br />
    <label for="foo">0</label>
</div>
<div class="pair">
    <input type="checkbox" name="foo" value="bar" onclick="fnul(1)"/><br />
    <label for="foo">1</label>
</div>
<div class="pair">
    <input type="checkbox" name="foo" value="bar" onclick="fnul(2)"/><br />
    <label for="foo">2</label>
</div><div class="pair">
    <input type="checkbox" name="foo" value="bar" onclick="fnul(3)"/><br />
    <label for="foo">3</label>
</div>
<div class="pair">
    <input type="checkbox" name="foo" value="bar" onclick="fnul(4)"/><br />
    <label for="foo">4</label>
</div>


    <style>
        div.pair {
            float: left;
            width: 50px;
        }
    </style>

<div><p> <br><br><br>                 </p></div>
    <div>
    <p>
            0 = komt niet overeen
        </p>
        <p>
            1 = komt een beetje overeen
        </p>
        <p>
            2 = komt redelijk overeen
        </p>
        <p>
            3 = komt goed overeen
        </p>
        <p>
            4 = komt wel overeen
        </p>
    </div>

<div>
</body>
</html>